@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;1,300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

.main{
    color: white;
}

.content{
    height: 90vh;
}

.app{
    border-radius: 35px;
}

#salary_ht, #name_ht, #amount_ht{
    width: 100%;
}

input{
    height: 40px;
    cursor: pointer;
}

.list{
    height: 300px;
    overflow-y: auto;
}